<!-- Hover Infobox Component -->
<div id="hover-infobox" class="hover-infobox">
  <div class="infobox-layers">
    <div class="infobox-image">
      <!-- Add fixed container to maintain aspect ratio -->
      <div class="infobox-image-container">
        <!-- Always include an image element for JavaScript to reference -->
        <img src="<%= locals.image || '' %>" alt="<%= locals.title || 'Project image' %>" />
      </div>
    </div>
    
    <div class="infobox-content">
      <h2 class="infobox-title"><%= locals.title || '' %></h2>
      <p class="infobox-description"><%= locals.description || '' %></p>
      
      <!-- Play button positioned at the bottom right of the content box -->
      <div class="infobox-button">
        <a href="<%= locals.url || '#' %>" class="infobox-go-button">
          <div class="play-icon"></div>
        </a>
      </div>
    </div>
  </div>
</div>
