<!-- Post Card Component -->
<div class="post-card">
  <% if (post.data.cover) { %>
    <div class="post-card-image">
      <img src="<%= post.data.cover %>" alt="<%= post.data.title %>" loading="lazy">
    </div>
  <% } else { %>
    <div class="post-card-image" style="background-color: var(--secondary-color); display: flex; align-items: center; justify-content: center;">
      <span style="color: var(--text-light);">No Image</span>
    </div>
  <% } %>
  
  <div class="post-card-content">
    <h3 class="post-card-title">
      <a href="<%= post.url %>"><%= post.data.title %></a>
    </h3>
    
    <div class="post-card-meta">
      <time datetime="<%= new Date(post.data.date).toISOString() %>">
        <%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %>
      </time>
      <% if (post.data.author) { %>
        • <%= post.data.author %>
      <% } %>
    </div>
    
    <% if (post.data.description) { %>
      <div class="post-card-excerpt">
        <%= post.data.description %>
      </div>
    <% } %>
    
    <div class="post-card-footer">
      <a href="<%= post.url %>" class="post-card-link">Read More</a>
    </div>
  </div>
</div>
