<%
// Video embed component
// Expects: provider, provider_uid, title, caption

let embedUrl = '';
let embedClass = 'video-embed-wrapper';

if (provider === 'youtube') {
  embedUrl = `https://www.youtube.com/embed/${provider_uid}`;
  embedClass += ' youtube-embed';
} else if (provider === 'vimeo') {
  embedUrl = `https://player.vimeo.com/video/${provider_uid}`;
  embedClass += ' vimeo-embed';
}
%>

<% if (embedUrl) { %>
<div class="<%= embedClass %>">
  <div class="rich-content-video-wrapper">
    <iframe
      src="<%= embedUrl %>"
      title="<%= title || 'Video' %>"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      loading="lazy"
      allowfullscreen>
    </iframe>
  </div>
  <% if (caption) { %>
    <div class="video-caption">
      <%= caption %>
    </div>
  <% } %>
</div>
<% } else { %>
<div class="video-embed-error">
  <p>Unsupported video provider: <%= provider %></p>
</div>
<% } %> 