---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/posts/<%= post.slug %>/"
layout: layouts/post.ejs
eleventyComputed:
  title: "<%= post.data.title %>"
  description: "<%= post.data.description %>"
  date: "<%= post.data.date %>"
---

<div class="post-content">
  <% if (post.data.hasLexicalContent) { %>
    <!-- Render Lexical rich text content -->
    <div class="rich-content">
      <%- post.data.body %>
    </div>
  <% } else if (Array.isArray(post.data.body)) { %>
    <!-- Legacy Strapi blocks format -->
    <div class="rich-content">
      <%- this.renderRichText(post.data.body) %>
    </div>
  <% } else if (typeof post.data.body === 'string') { %>
    <!-- Legacy string/markdown format -->
    <div class="rich-content">
      <%- this.renderRichText(post.data.body) %>
    </div>
  <% } else { %>
    <p>No content available.</p>
  <% } %>
</div>