---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/posts/<%= post.slug %>/"
layout: layouts/post.ejs
eleventyComputed:
  title: "<%= post.data.title %>"
  description: "<%= post.data.description %>"
  date: "<%= post.data.date %>"
---

<div class="post-content">
  <% if (post.data.richContent && post.data.richContent.length > 0) { %>
    <% 
    // Render all rich_content components in order
    for (const component of post.data.richContent) {
      switch (component.type) {
        case 'rich-text':
    %>
          <div class="rich-content-block rich-text-component">
            <%- component.content %>
          </div>
    <%    break;
        case 'video-embed':
    %>
          <div class="rich-content-block video-embed-component">
            <%- include('/components/video-embed', component) %>
          </div>
    <%    break;
        case 'media':
          if (component.media) {
    %>
          <div class="rich-content-block media-component">
            <figure class="rich-content-image">
              <img src="<%= component.media.url %>" alt="<%= component.media.name %>" 
                   <% if (component.media.width && component.media.height) { %>
                   width="<%= component.media.width %>" height="<%= component.media.height %>"
                   <% } %>
                   class="rich-content-image">
              <% if (component.caption) { %>
                <figcaption><%= component.caption %></figcaption>
              <% } %>
            </figure>
          </div>
    <%    }
          break;
        case 'scrolling-gallery':
    %>
          <div class="rich-content-block scrolling-gallery-component">
            <%- include('/components/scrolling-gallery', { 
              gallery_content: component.gallery_content, 
              gallery_height: component.gallery_height,
              maxWidth: 'medium'
            }) %>
          </div>
    <%    break;
        case 'masonry-gallery':
    %>
          <div class="rich-content-block masonry-gallery-component masonry-gallery-<%= component.size || 'large' %>">
            <%- include('/components/masonry-gallery-rich', { 
              masonry_images: component.masonry_images, 
              size: component.size || 'large'
            }) %>
          </div>
    <%    break;
        case 'simple-media':
        case 'shared.simple-media':
    %>
          <div class="rich-content-block simple-media-component">
            <%- include('/components/simple-media', { 
              media_files: component.media_files, 
              size: component.size || 'medium',
              show_caption: component.show_caption || false,
              show_infobox: component.show_infobox || false
            }) %>
          </div>
    <%    break;
        case 'shared.book-flip':
        case 'book-flip':
          if (component.pages && component.pages.length > 0) {
    %>
          <div class="rich-content-block book-flip-block">
            <%- include('/components/book-flip', { 
              pages: component.pages, 
              aspectRatio: component.aspectRatio,
              title: component.title,
              error: component.error 
            }) %>
          </div>
    <%    }
          break;
        default:
          // Handle unknown component types gracefully
          console.log('Unknown component type:', component.type);
          break;
      }
    }
    %>
  <% } else { %>
    <p>No content available.</p>
  <% } %>
</div>

<% 
// Check if any book flip components exist for script inclusion
const hasBookFlip = post.data.richContent && post.data.richContent.some(component => 
  component.type === 'shared.book-flip' || component.type === 'book-flip'
);
if (hasBookFlip) { 
%>
  <script src="/assets/js/book-flip.js"></script>
<% } %>